nav {
  background-color: #ccffff;
}

header {
  height: 700px;
}

h1 {
  color: #fdfefe;
}

.container {
  margin-bottom: 100px;
}

h2 {
  color: #fbfcfc;
}

.row {
  height: 300px;
}

.col-sm-8 {
  background-color: #f9e79f;
  margin: 8px 0;
}

.col-sm-5 {
  background-color: #d7bde2;
  margin-right: 4px;
}

.col-sm-3 {
  background-color: #e6b0aa;
  margin-left: 4px;
}

div[class^="col-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

p {
  font-size: 1.05em;
}

@media (max-width: 575px) {
  .col-sm-5 {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .col-sm-3 {
    margin-left: 0;
  }
}

.card {
  margin-top: 8px;
}

form {
  background-color: #a9cce3;
  border-radius: 5px;
}

.form-group {
  margin: 0 20px 16px 20px;
}

#formGroupName {
  margin-top: 16px;
}
